In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [3]:
df = pd.read_csv('20_Victims_of_rape.csv')

In [4]:
df.head()

,Area_Name,Year,Subgroup,Rape_Cases_Reported,Victims_Above_50_Yrs,Victims_Between_10-14_Yrs,Victims_Between_14-18_Yrs,Victims_Between_18-30_Yrs,Victims_Between_30-50_Yrs,Victims_of_Rape_Total,Victims_Upto_10_Yrs
0,Andaman & Nicobar Islands,2001,Total Rape Victims,3,0,0,3,0,0,3,0
1,Andaman & Nicobar Islands,2001,Victims of Incest Rape,1,0,0,1,0,0,1,0
2,Andaman & Nicobar Islands,2001,Victims of Other Rape,2,0,0,2,0,0,2,0
3,Andaman & Nicobar Islands,2002,Total Rape Victims,2,0,0,1,1,0,2,0
4,Andaman & Nicobar Islands,2002,Victims of Incest Rape,0,0,0,0,0,0,0,0

In [5]:
df2 = df.copy()

In [6]:
df2.columns

Index(['Area_Name', 'Year', 'Subgroup', 'Rape_Cases_Reported',
       'Victims_Above_50_Yrs', 'Victims_Between_10-14_Yrs',
       'Victims_Between_14-18_Yrs', 'Victims_Between_18-30_Yrs',
       'Victims_Between_30-50_Yrs', 'Victims_of_Rape_Total',
       'Victims_Upto_10_Yrs'],
      dtype='object')

In [7]:
df2 = df2.drop(['Subgroup', 'Rape_Cases_Reported',
       'Victims_Above_50_Yrs', 'Victims_Between_10-14_Yrs',
       'Victims_Between_14-18_Yrs', 'Victims_Between_18-30_Yrs',
       'Victims_Between_30-50_Yrs',
       'Victims_Upto_10_Yrs'], axis = 1)

In [8]:
df2.head(10)

                   Area_Name  Year  Victims_of_Rape_Total
0  Andaman & Nicobar Islands  2001                      3
1  Andaman & Nicobar Islands  2001                      1
2  Andaman & Nicobar Islands  2001                      2
3  Andaman & Nicobar Islands  2002                      2
4  Andaman & Nicobar Islands  2002                      0
5  Andaman & Nicobar Islands  2002                      2
6  Andaman & Nicobar Islands  2003                      2
7  Andaman & Nicobar Islands  2003                      0
8  Andaman & Nicobar Islands  2003                      2
9  Andaman & Nicobar Islands  2004                     10

In [9]:
df2.shape

(1050, 3)

In [10]:
df2.loc[0]

Area_Name                Andaman & Nicobar Islands
Year                                          2001
Victims_of_Rape_Total                            3
Name: 0, dtype: object

In [11]:
del_ind = []
for i in range(1050):
    if i%3 != 0:
        del_ind.append(i)

In [12]:
for i in del_ind:
    df2 = df2.drop(i)

In [13]:
df2.head()

                    Area_Name  Year  Victims_of_Rape_Total
0   Andaman & Nicobar Islands  2001                      3
3   Andaman & Nicobar Islands  2002                      2
6   Andaman & Nicobar Islands  2003                      2
9   Andaman & Nicobar Islands  2004                     10
12  Andaman & Nicobar Islands  2005                      4

In [14]:
df2.shape

(350, 3)

In [15]:
df2

                      Area_Name  Year  Victims_of_Rape_Total
0     Andaman & Nicobar Islands  2001                      3
3     Andaman & Nicobar Islands  2002                      2
6     Andaman & Nicobar Islands  2003                      2
9     Andaman & Nicobar Islands  2004                     10
12    Andaman & Nicobar Islands  2005                      4
15    Andaman & Nicobar Islands  2006                      6
18    Andaman & Nicobar Islands  2007                      3
21    Andaman & Nicobar Islands  2008                     12
24    Andaman & Nicobar Islands  2009                     18
27    Andaman & Nicobar Islands  2010                     24
30               Andhra Pradesh  2001                    871
33               Andhra Pradesh  2002                   1002
36               Andhra Pradesh  2003                    946
39               Andhra Pradesh  2004                   1016
42               Andhra Pradesh  2005                    935
45               Andhra Pradesh  2006                   1049
48               Andhra Pradesh  2007                   1070
51               Andhra Pradesh  2008                   1257
54               Andhra Pradesh  2009                   1188
57               Andhra Pradesh  2010                   1362
60            Arunachal Pradesh  2001                     33
63            Arunachal Pradesh  2002                     38
66            Arunachal Pradesh  2003                     31
69            Arunachal Pradesh  2004                     42
72            Arunachal Pradesh  2005                     35
75            Arunachal Pradesh  2006                     37
78            Arunachal Pradesh  2007                     48
81            Arunachal Pradesh  2008                     42
84            Arunachal Pradesh  2009                     59
87            Arunachal Pradesh  2010                     47
90                        Assam  2001                    817
93                        Assam  2002                    970
96                        Assam  2003                   1095
99                        Assam  2004                   1171
102                       Assam  2005                   1238
105                       Assam  2006                   1244
108                       Assam  2007                   1437
111                       Assam  2008                   1438
114                       Assam  2009                   1631
117                       Assam  2010                   1721
120                       Bihar  2001                    888
123                       Bihar  2002                   1040
126                       Bihar  2003                    985
129                       Bihar  2004                   1390
132                       Bihar  2005                   1147
135                       Bihar  2006                   1232
138                       Bihar  2007                   1555
141                       Bihar  2008                   1302
144                       Bihar  2009                    929
147                       Bihar  2010                    795
150                  Chandigarh  2001                     19
153                  Chandigarh  2002                     18
156                  Chandigarh  2003                     18
159                  Chandigarh  2004                     19
162                  Chandigarh  2005                     33
165                  Chandigarh  2006                     19
168                  Chandigarh  2007                     22
171                  Chandigarh  2008                     20
174                  Chandigarh  2009                     29
177                  Chandigarh  2010                     31
180                Chhattisgarh  2001                    959
183                Chhattisgarh  2002                    992
186                Chhattisgarh  2003                    898
189                Chhattisgarh  2004                    969
192                Chhattisgarh  2005                    990
195                Chhattisgarh  2006                    995
198                Chhattisgarh  2007                    982
201                Chhattisgarh  2008                    978
204                Chhattisgarh  2009                    976
207                Chhattisgarh  2010                   1012
210        Dadra & Nagar Haveli  2001                      6
213        Dadra & Nagar Haveli  2002                      4
216        Dadra & Nagar Haveli  2003                      1
219        Dadra & Nagar Haveli  2004                      7
222        Dadra & Nagar Haveli  2005                      5
225        Dadra & Nagar Haveli  2006                      6
228        Dadra & Nagar Haveli  2007                      7
231        Dadra & Nagar Haveli  2008                      6
234        Dadra & Nagar Haveli  2009                      4
237        Dadra & Nagar Haveli  2010                      3
240                 Daman & Diu  2001                      0
243                 Daman & Diu  2002                      0
246                 Daman & Diu  2003                      5
249                 Daman & Diu  2004                      1
252                 Daman & Diu  2005                      2
255                 Daman & Diu  2006                      3
258                 Daman & Diu  2007                      1
261                 Daman & Diu  2008                      0
264                 Daman & Diu  2009                      1
267                 Daman & Diu  2010                      1
270                       Delhi  2001                    383
273                       Delhi  2002                    407
276                       Delhi  2003                    490
279                       Delhi  2004                    551
282                       Delhi  2005                    666
285                       Delhi  2006                    626
288                       Delhi  2007                    602
291                       Delhi  2008                    470
294                       Delhi  2009                    469
297                       Delhi  2010                    507
300                         Goa  2001                     12
303                         Goa  2002                     12
306                         Goa  2003                     32
309                         Goa  2004                     37
312                         Goa  2005                     20
315                         Goa  2006                     21
318                         Goa  2007                     20
321                         Goa  2008                     30
324                         Goa  2009                     50
327                         Goa  2010                     36
330                     Gujarat  2001                    286
333                     Gujarat  2002                    268
336                     Gujarat  2003                    236
339                     Gujarat  2004                    339
342                     Gujarat  2005                    324
345                     Gujarat  2006                    354
348                     Gujarat  2007                    317
351                     Gujarat  2008                    374
354                     Gujarat  2009                    433
357                     Gujarat  2010                    408
360                     Haryana  2001                    398
363                     Haryana  2002                    361
366                     Haryana  2003                    353
369                     Haryana  2004                    386
372                     Haryana  2005                    461
375                     Haryana  2006                    608
378                     Haryana  2007                    488
381                     Haryana  2008                    631
384                     Haryana  2009                    603
387                     Haryana  2010                    720
390            Himachal Pradesh  2001                    124
393            Himachal Pradesh  2002                    137
396            Himachal Pradesh  2003                    126
399            Himachal Pradesh  2004                    153
402            Himachal Pradesh  2005                    141
405            Himachal Pradesh  2006                    113
408            Himachal Pradesh  2007                    159
411            Himachal Pradesh  2008                    157
414            Himachal Pradesh  2009                    183
417            Himachal Pradesh  2010                    160
420             Jammu & Kashmir  2001                    169
423             Jammu & Kashmir  2002                    192
426             Jammu & Kashmir  2003                    211
429             Jammu & Kashmir  2004                    218
432             Jammu & Kashmir  2005                    201
435             Jammu & Kashmir  2006                    250
438             Jammu & Kashmir  2007                    288
441             Jammu & Kashmir  2008                    219
444             Jammu & Kashmir  2009                    235
447             Jammu & Kashmir  2010                    245
450                   Jharkhand  2001                    567
453                   Jharkhand  2002                    797
456                   Jharkhand  2003                    712
459                   Jharkhand  2004                    797
462                   Jharkhand  2005                    753
465                   Jharkhand  2006                    799
468                   Jharkhand  2007                    855
471                   Jharkhand  2008                    791
474                   Jharkhand  2009                    719
477                   Jharkhand  2010                    773
480                   Karnataka  2001                    293
483                   Karnataka  2002                    292
486                   Karnataka  2003                    321
489                   Karnataka  2004                    291
492                   Karnataka  2005                    343
495                   Karnataka  2006                    400
498                   Karnataka  2007                    436
501                   Karnataka  2008                    446
504                   Karnataka  2009                    509
507                   Karnataka  2010                    586
510                      Kerala  2001                    562
513                      Kerala  2002                    499
516                      Kerala  2003                    394
519                      Kerala  2004                    480
522                      Kerala  2005                    481
525                      Kerala  2006                    605
528                      Kerala  2007                    513
531                      Kerala  2008                    570
534                      Kerala  2009                    568
537                      Kerala  2010                    636
540                 Lakshadweep  2001                      0
543                 Lakshadweep  2002                      1
546                 Lakshadweep  2003                      2
549                 Lakshadweep  2004                      0
552                 Lakshadweep  2005                      0
555                 Lakshadweep  2006                      0
558                 Lakshadweep  2007                      1
561                 Lakshadweep  2008                      2
564                 Lakshadweep  2009                      1
567                 Lakshadweep  2010                      0
570              Madhya Pradesh  2001                   2851
573              Madhya Pradesh  2002                   2891
576              Madhya Pradesh  2003                   2738
579              Madhya Pradesh  2004                   2875
582              Madhya Pradesh  2005                   2921
585              Madhya Pradesh  2006                   2900
588              Madhya Pradesh  2007                   3010
591              Madhya Pradesh  2008                   2937
594              Madhya Pradesh  2009                   2998
597              Madhya Pradesh  2010                   3136
600                 Maharashtra  2001                   1302
603                 Maharashtra  2002                   1352
606                 Maharashtra  2003                   1276
609                 Maharashtra  2004                   1392
612                 Maharashtra  2005                   1549
615                 Maharashtra  2006                   1506
618                 Maharashtra  2007                   1457
621                 Maharashtra  2008                   1567
624                 Maharashtra  2009                   1493
627                 Maharashtra  2010                   1611
630                     Manipur  2001                     20
633                     Manipur  2002                     14
636                     Manipur  2003                     18
639                     Manipur  2004                     31
642                     Manipur  2005                     25
645                     Manipur  2006                     42
648                     Manipur  2007                     20
651                     Manipur  2008                     38
654                     Manipur  2009                     31
657                     Manipur  2010                     34
660                   Meghalaya  2001                     26
663                   Meghalaya  2002                     38
666                   Meghalaya  2003                     40
669                   Meghalaya  2004                     54
672                   Meghalaya  2005                     63
675                   Meghalaya  2006                     74
678                   Meghalaya  2007                     93
681                   Meghalaya  2008                     88
684                   Meghalaya  2009                    112
687                   Meghalaya  2010                    151
690                     Mizoram  2001                     52
693                     Mizoram  2002                     76
696                     Mizoram  2003                     54
699                     Mizoram  2004                     20
702                     Mizoram  2005                     37
705                     Mizoram  2006                     72
708                     Mizoram  2007                     83
711                     Mizoram  2008                     77
714                     Mizoram  2009                     83
717                     Mizoram  2010                     92
720                    Nagaland  2001                     17
723                    Nagaland  2002                     17
726                    Nagaland  2003                     14
729                    Nagaland  2004                     18
732                    Nagaland  2005                     17
735                    Nagaland  2006                     23
738                    Nagaland  2007                     13
741                    Nagaland  2008                     19
744                    Nagaland  2009                     22
747                    Nagaland  2010                     16
750                      Odisha  2001                    790
753                      Odisha  2002                    691
756                      Odisha  2003                    725
759                      Odisha  2004                    770
762                      Odisha  2005                    799
765                      Odisha  2006                    985
768                      Odisha  2007                    939
771                      Odisha  2008                   1113
774                      Odisha  2009                   1023
777                      Odisha  2010                   1025
780                  Puducherry  2001                      9
783                  Puducherry  2002                      6
786                  Puducherry  2003                      2
789                  Puducherry  2004                      4
792                  Puducherry  2005                      6
795                  Puducherry  2006                      9
798                  Puducherry  2007                      9
801                  Puducherry  2008                      8
804                  Puducherry  2009                      1
807                  Puducherry  2010                      3
810                      Punjab  2001                    298
813                      Punjab  2002                    299
816                      Punjab  2003                    380
819                      Punjab  2004                    390
822                      Punjab  2005                    398
825                      Punjab  2006                    442
828                      Punjab  2007                    519
831                      Punjab  2008                    519
834                      Punjab  2009                    515
837                      Punjab  2010                    547
840                   Rajasthan  2001                   1049
843                   Rajasthan  2002                   1051
846                   Rajasthan  2003                   1050
849                   Rajasthan  2004                   1038
852                   Rajasthan  2005                    993
855                   Rajasthan  2006                   1085
858                   Rajasthan  2007                   1240
861                   Rajasthan  2008                   1355
864                   Rajasthan  2009                   1520
867                   Rajasthan  2010                   1573
870                      Sikkim  2001                      8
873                      Sikkim  2002                      6
876                      Sikkim  2003                     10
879                      Sikkim  2004                      4
882                      Sikkim  2005                     20
885                      Sikkim  2006                     20
888                      Sikkim  2007                     24
891                      Sikkim  2008                     21
894                      Sikkim  2009                     18
897                      Sikkim  2010                     18
900                  Tamil Nadu  2001                    423
903                  Tamil Nadu  2002                    534
906                  Tamil Nadu  2003                    557
909                  Tamil Nadu  2004                    619
912                  Tamil Nadu  2005                    571
915                  Tamil Nadu  2006                    457
918                  Tamil Nadu  2007                    532
921                  Tamil Nadu  2008                    573
924                  Tamil Nadu  2009                    596
927                  Tamil Nadu  2010                    687
930                     Tripura  2001                    102
933                     Tripura  2002                    108
936                     Tripura  2003                    114
939                     Tripura  2004                    160
942                     Tripura  2005                    162
945                     Tripura  2006                    191
948                     Tripura  2007                    157
951                     Tripura  2008                    204
954                     Tripura  2009                    190
957                     Tripura  2010                    238
960               Uttar Pradesh  2001                   1958
963               Uttar Pradesh  2002                   1415
966               Uttar Pradesh  2003                    911
969               Uttar Pradesh  2004                   1397
972               Uttar Pradesh  2005                   1217
975               Uttar Pradesh  2006                   1314

In [16]:
df2.Area_Name.value_counts()

Bihar                        10
Puducherry                   10
Chandigarh                   10
Delhi                        10
Jharkhand                    10
Manipur                      10
Haryana                      10
Gujarat                      10
Assam                        10
Daman & Diu                  10
Meghalaya                    10
Odisha                       10
Uttar Pradesh                10
Madhya Pradesh               10
Tripura                      10
West Bengal                  10
Sikkim                       10
Rajasthan                    10
Mizoram                      10
Himachal Pradesh             10
Goa                          10
Jammu & Kashmir              10
Karnataka                    10
Tamil Nadu                   10
Andaman & Nicobar Islands    10
Punjab                       10
Kerala                       10
Arunachal Pradesh            10
Lakshadweep                  10
Nagaland                     10
Dadra & Nagar Haveli         10
Maharashtra                  10
Andhra Pradesh               10
Uttarakhand                  10
Chhattisgarh                 10
Name: Area_Name, dtype: int64

In [17]:
df2.Area_Name.value_counts().sum()

350

In [18]:
df2.reset_index(inplace = True, drop = True)

In [25]:
df2.columns

Index(['Area_Name', 'Year', 'Victims_of_Rape_Total'], dtype='object')

In [26]:
df_model = df2[['Area_Name', 'Year', 'Victims_of_Rape_Total']]
df_dum = pd.get_dummies(df_model)

In [27]:
df_dum.head(5)

,Year,Victims_of_Rape_Total,Area_Name_Andaman & Nicobar Islands,Area_Name_Andhra Pradesh,Area_Name_Arunachal Pradesh,Area_Name_Assam,Area_Name_Bihar,Area_Name_Chandigarh,Area_Name_Chhattisgarh,Area_Name_Dadra & Nagar Haveli,Area_Name_Daman & Diu,Area_Name_Delhi,Area_Name_Goa,Area_Name_Gujarat,Area_Name_Haryana,Area_Name_Himachal Pradesh,Area_Name_Jammu & Kashmir,Area_Name_Jharkhand,Area_Name_Karnataka,Area_Name_Kerala,Area_Name_Lakshadweep,Area_Name_Madhya Pradesh,Area_Name_Maharashtra,Area_Name_Manipur,Area_Name_Meghalaya,Area_Name_Mizoram,Area_Name_Nagaland,Area_Name_Odisha,Area_Name_Puducherry,Area_Name_Punjab,Area_Name_Rajasthan,Area_Name_Sikkim,Area_Name_Tamil Nadu,Area_Name_Tripura,Area_Name_Uttar Pradesh,Area_Name_Uttarakhand,Area_Name_West Bengal
0,2001,3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2002,2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,2003,2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2004,10,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2005,4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [28]:
for i in df_dum.columns:
    print(i)

Year
Victims_of_Rape_Total
Area_Name_Andaman & Nicobar Islands
Area_Name_Andhra Pradesh
Area_Name_Arunachal Pradesh
Area_Name_Assam
Area_Name_Bihar
Area_Name_Chandigarh
Area_Name_Chhattisgarh
Area_Name_Dadra & Nagar Haveli
Area_Name_Daman & Diu
Area_Name_Delhi
Area_Name_Goa
Area_Name_Gujarat
Area_Name_Haryana
Area_Name_Himachal Pradesh
Area_Name_Jammu & Kashmir
Area_Name_Jharkhand
Area_Name_Karnataka
Area_Name_Kerala
Area_Name_Lakshadweep
Area_Name_Madhya Pradesh
Area_Name_Maharashtra
Area_Name_Manipur
Area_Name_Meghalaya
Area_Name_Mizoram
Area_Name_Nagaland
Area_Name_Odisha
Area_Name_Puducherry
Area_Name_Punjab
Area_Name_Rajasthan
Area_Name_Sikkim
Area_Name_Tamil Nadu
Area_Name_Tripura
Area_Name_Uttar Pradesh
Area_Name_Uttarakhand
Area_Name_West Bengal

In [30]:
df_dum.shape

(350, 37)

In [31]:
from sklearn.model_selection import train_test_split

In [32]:
X = df_dum.drop('Victims_of_Rape_Total', axis = 1)
y = df_dum.Victims_of_Rape_Total.values

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [34]:
print(X_train.shape) 
X_test.shape

(280, 36)

(70, 36)

In [35]:
print(y_train.shape) 
y_test.shape

(280,)

(70,)

In [40]:
# lasso regression
# linear regression
# svm regression
# nearest neigbour regression

In [41]:
# lasso regression

In [39]:
from sklearn.linear_model import LinearRegression

In [42]:
from sklearn.linear_model import Lasso
lm_1 = Lasso(alpha = 0.12)
lm_1.fit(X_train, y_train)

Lasso(alpha=0.12)

In [43]:
pred = lm_1.predict(X_test)

In [44]:
pred

array([ 7.99428230e+02,  1.65200249e+03,  1.74557296e+02,  7.12012462e+01,
        7.58435223e+02,  4.16969836e+02,  5.32164778e+02,  1.32970878e+02,
        4.98955849e+02, -5.26250888e-01,  2.33506228e+01,  4.95556743e+02,
        4.54596312e+02,  5.36549749e+02,  5.05690747e+02,  1.37625161e+03,
        7.40526776e+01,  6.43436295e+01,  7.25064561e+01,  3.99970037e+02,
        5.07047428e+01,  1.07405306e+03, -6.20157609e+01,  3.75976829e+02,
       -5.39171658e+01,  5.22456149e+01,  1.53187260e+02,  1.13483918e+02,
        4.54118957e+02,  2.92144455e+03,  1.25631675e+01,  5.87676760e+02,
       -9.24389514e+00,  4.20466540e+02,  1.13390708e+03,  5.20099528e+01,
        1.01256355e+03,  1.19178308e+03,  1.52512539e+03,  6.34647295e+02,
        2.97487520e+02, -1.29241591e+01,  1.98497513e+02,  3.14979044e+01,
        1.14283449e+02,  6.96945713e+02,  9.30029595e+01,  1.25688610e+03,
       -1.76423839e+01,  1.46605030e+03,  2.18994016e+02, -9.49510229e+00,
        1.19374649e+02,  1.39871152e+02, -7.01850814e+01,  1.19539659e+03,
        1.09454957e+03,  1.42264288e+03, -3.81388873e+01,  3.17984023e+02,
        5.67180257e+02,  1.25327259e+03,  9.37814726e+02,  2.39490520e+02,
        4.38471261e+01,  4.74615460e+02, -8.25122643e+01,  6.28669767e+02,
        3.00343057e+03,  1.52753981e+03])

In [45]:
from sklearn.metrics import r2_score
r2_score(y_test, pred)

0.9456780899831403

In [46]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, pred, squared=False)
rmse = np.sqrt(mse)

In [47]:
rmse

12.33651238608402

In [49]:
# linear regression

In [50]:
from sklearn.linear_model import LinearRegression

In [51]:
regr = LinearRegression()

In [52]:
regr.fit(X_train, y_train)

LinearRegression()

In [53]:
pred = regr.predict(X_test)

In [54]:
pred

array([ 804.27210893, 1655.74279822,  170.83039391,   66.43008313,
        763.28269087,  421.78798184,  536.375     ,  129.26308064,
        503.76681796,   -5.28420258,   16.69682542,  499.81448411,
        458.36831289,  540.80390217,  511.33509699, 1381.12018156,
         69.86044983,   57.68624348,   67.77437649,  398.05952397,
         45.9353741 , 1078.92630387,  -66.76832967,  380.79856378,
        -58.04728846,   48.12367726,  148.40891925,  108.75925944,
        458.3842592 , 2925.68154766,    8.37632274,  593.31393311,
        -13.36044983,  418.554233  , 1138.72637936,   47.27966746,
       1017.44217678, 1196.66780029, 1529.35515886,  638.84854515,
        295.58597882,  -17.0578704 ,  193.69312183,   26.78042332,
        110.10119064,  701.79856378,   88.26908552, 1261.69463354,
        -24.29259264, 1470.25793645,  214.18783086,  -14.20899474,
        115.22619064,  135.72089967,  -74.35119064, 1200.21050645,
       1099.4210129 , 1426.88161371,  -44.78730167,  316.08068785,
        572.81922408, 1258.15192738,  941.61992939,  234.68253989,
         37.19153445,  478.87896823,  -87.2630387 ,  634.30335117,
       3007.66038378, 1531.74206355])

In [55]:
r2_score(y_test, pred)

0.9459390364965761

In [56]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, pred, squared=False)
rmse = np.sqrt(mse)

In [57]:
rmse

12.321670376764347

In [58]:
# svm regression

In [59]:
from sklearn.svm import LinearSVR

In [60]:
regr = LinearSVR(random_state=0, tol=1e-5)

In [61]:
regr.fit(X_train, y_train)

C:\Users\harsh\anaconda3\lib\site-packages\sklearn\svm\_base.py:976: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "

LinearSVR(random_state=0, tol=1e-05)

In [62]:
pred = regr.predict(X_test)

In [63]:
pred

array([3007.15556712, 3000.4923641 , 3002.91904907, 3001.49877402,
       3004.16073706, 3002.11353506, 3002.26074117, 3005.75691707,
       3008.10319517, 3002.86565577, 3003.1350774 , 3002.24041395,
       3007.92535114, 3005.23524401, 3000.77995708, 3011.08220768,
       3005.73316734, 3006.12990745, 3004.37960028, 3007.95742633,
       3000.00135899, 3004.71076007, 2998.37341068, 2999.118705  ,
       2998.20010622, 3002.83719238, 3007.48843413, 3008.87529332,
       3000.72418483, 3008.50258497, 3001.24092225, 3006.7696172 ,
       2998.34494729, 3009.45484136, 3000.43603087, 3002.88218525,
       3000.21851498, 2997.60547242, 3010.11760335, 3009.74781631,
       3000.47035118, 3001.19493628, 3006.04737658, 3002.8856332 ,
       3008.71427272, 2999.66849198, 3005.87701531, 3009.42052104,
       3000.14024734, 3002.74618345, 3007.54479161, 2999.89080315,
       3007.26894845, 3008.76636348, 2995.23753746, 3004.92827596,
       3006.2081751 , 3002.6305282 , 2998.64283231, 3001.96776621,
       3005.27220217, 3002.09771751, 3001.75110074, 3009.04220664,
       3004.63249243, 3002.22159986, 2996.87599565, 3009.76444726,
       3014.49224509, 3007.23842854])

In [64]:
r2_score(y_test, pred)

-14.339784032780937

In [66]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, pred, squared=False)
rmse = np.sqrt(mse)

In [67]:
rmse

50.57122251914924

In [68]:
# nearest neigbour regression

In [69]:
from sklearn.neighbors import KNeighborsRegressor
neigh = KNeighborsRegressor(n_neighbors=2)

In [70]:
neigh.fit(X_train, y_train)

KNeighborsRegressor(n_neighbors=2)

In [71]:
pred = neigh.predict(X_test)

In [72]:
pred

array([7.8700e+02, 8.5550e+02, 1.5950e+02, 4.8500e+01, 8.0400e+02,
       4.1600e+02, 5.3800e+02, 1.0250e+02, 5.3300e+02, 5.0000e-01,
       3.0500e+02, 4.9700e+02, 5.1600e+02, 6.1950e+02, 4.3750e+02,
       1.6210e+03, 2.1000e+01, 3.0000e+00, 1.5150e+03, 7.8100e+02,
       1.3600e+02, 8.7600e+02, 2.7000e+01, 3.4450e+02, 5.0000e-01,
       4.1500e+01, 8.4500e+01, 8.1450e+02, 3.5400e+02, 2.9655e+03,
       1.2000e+01, 1.4155e+03, 4.0000e+01, 9.2450e+02, 1.0445e+03,
       3.1900e+02, 1.2150e+03, 6.3400e+02, 1.5890e+03, 1.1035e+03,
       2.2700e+02, 2.0000e+00, 1.1900e+03, 3.5000e+00, 8.1650e+02,
       7.9700e+02, 1.5500e+01, 1.4640e+03, 1.2000e+01, 1.0640e+03,
       1.7620e+03, 3.0000e+00, 6.0900e+02, 9.2450e+02, 1.5750e+02,
       1.1165e+03, 6.6100e+02, 1.4125e+03, 2.9000e+01, 1.8950e+02,
       3.1250e+02, 1.1665e+03, 9.4400e+02, 9.2450e+02, 1.5150e+03,
       3.2550e+02, 6.0000e+00, 1.0895e+03, 2.3045e+03, 1.5925e+03])

In [73]:
r2_score(y_test, pred)

0.48843692497712543

In [74]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, pred, squared=False)
rmse = np.sqrt(mse)

In [75]:
rmse

21.61092909749878